<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        
        socket.on('update_running_scripts', function(data) {
            var runningList = document.getElementById('running-scripts-list');
            runningList.innerHTML = '';
            data.forEach(function(script) {
                var li = document.createElement('li');
                li.appendChild(document.createTextNode(script));
                runningList.appendChild(li);
            });
        });
        
        socket.on('update_scripts', function(data) {
            var scriptsList = document.getElementById('scripts-list');
            scriptsList.innerHTML = '';
            data.forEach(function(script) {
                var li = document.createElement('li');
                var link = document.createElement('a');
                link.setAttribute('href', '/script_result/' + encodeURIComponent(script[0]));
                link.appendChild(document.createTextNode(script[1] + ' - ' + script[0]));
                li.appendChild(link);
                scriptsList.appendChild(li);
            });
        });
        
        socket.on('script_executed', function(data) {
            const scriptName = data.script;
            const timestamp = data.timestamp;
            const scriptsList = document.getElementById('scripts-list');
            const li = document.createElement('li');
            const link = document.createElement('a');
            link.setAttribute('href', '/script_result/' + encodeURIComponent(scriptName));
            link.appendChild(document.createTextNode(timestamp + ' - ' + scriptName));
            li.appendChild(link);
            scriptsList.appendChild(li);
        });
        
        
        
        function executeScript(script) {
            socket.emit('execute_script', script);
        }
        
        function clearHistory() {
            fetch('/clear_history', {
                method: 'POST'
            }).then(response => response.json()).then(data => {
                if (data.success) {
                    var scriptsList = document.getElementById('scripts-list');
                    scriptsList.innerHTML = '';
                }
            });
        }
        
        function killAllScripts() {
            fetch('/kill_all_scripts', {
                method: 'POST'
            }).then(response => response.json()).then(data => {
                if (data.success) {
                    // Możesz dodać dodatkową logikę tutaj, jeśli chcesz
                }
            });
        }
        
        socket.on('history_cleared', function() {
            var scriptsList = document.getElementById('scripts-list');
            scriptsList.innerHTML = '';
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="left-block">
            <h2>Lista skryptów</h2>
            <ul>
            {% for category, scripts_list in available_scripts.items() %}
                <h3>{{ category }}</h3>
                <ul>
                    {% for script_path in scripts_list %}
                        <li>
                            <span class="script-name">{{ script_path.split('/')[-1] }}</span>
                            <button class="play-button" data-script="{{ script_path }}">
                                <i class="icon-play"></i>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        </div>
        <div class="right-block">
            <h2>Aktywne skrypty</h2>
            <!--<button onclick="killAllScripts()">Zatrzymaj wszystkie skrypty</button>-->
            <ul id="running-scripts-list">
                {% for script in running_scripts %}
                <li>{{ script }}</li>
                {% endfor %}
            </ul>
            <h2>Historia wywołań skryptów</h2>
            <button onclick="clearHistory()">Wyczyść historię</button>
            <ul id="scripts-list">
                {% for script, timestamp in scripts|reverse %}
                <li><a href="{{ url_for('script_result', encoded_script=script|urlencode) }}">{{ timestamp }} - {{ script }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    
    
    
    
    
    
    <script>
        // Dodaj nasłuchiwanie na kliknięcie przycisku "play"
        document.querySelectorAll('.play-button').forEach(button => {
            button.addEventListener('click', function() {
                const scriptName = this.getAttribute('data-script');
                socket.emit('execute_script', scriptName);
                this.innerHTML = '<i class="icon-running"></i>';  // Zmień ikonę na "running"
            });
        });
    
        // Nasłuchuj na zakończenie skryptu i przywróć ikonę "play"
        socket.on('script_executed', function(data) {
            const scriptName = data.script;
            const button = document.querySelector(`.play-button[data-script="${scriptName}"]`);
            if (button) {
                button.innerHTML = '<i class="icon-play"></i>';
            }
        });
        
    </script>

</body>
</html>
